[core]
  editor = vim

[user]
  name = tanakanotarou2
  email = sotaime+gh@gmail.com

# [init]
# templatedir = ~/.git_template

# [commit]
#   template = ~/.gitmessage.txt

[alias]
  st = status
  ch = checkout
  br = branch
  cm = commit
  ca = commit --amend
  ft = fetch

  tree = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)? %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[push]
	default = current

[diff]
  tool = default-difftool
